.header-main-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 97px;
  padding: 0px 40px 0px 40px;
}

.header-logo-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-logo{
  width: 60px;
  height: 61px;
  flex-shrink: 0;
  cursor: pointer;
} 

.header-logo-name{
  color: #0F4811;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px; /* 104% */
  padding-left: 8px;
  cursor: pointer;
}

.header-names-container{
  display: flex;
  flex-direction: row;

}

.header-name{
  color: #000;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-right: 30px;
  cursor: pointer;
}

.header-name:hover{
  color:#f3a939;
  text-decoration: underline;
}

.header-name-sub-icon{
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}

.header-end-icon-container{
  display: flex;
  flex-direction: row;
}

.header-icon-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 12px;
  cursor: pointer;
}

.header-icon-name{
  color: #000;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 550;
  line-height: normal;
}